.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.img-holder {
  height: 302px;
  width: 302px;
  border-radius: 10px;
  border: 1px solid;
  object-fit: cover;
}

.address-price-title {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.miles-title {
  display: flex;
}
