div {
  color: black;
}
h2 {
  border-bottom: 0.5px solid lightgray;
}

button {
  background-color: transparent;
  border: 0.5px solid #00c4de;
  color: #00c4de;
  border-radius: 5px;
}

button:hover {
  background-color: #00c4de;
  color: white;
}

.mycar-container {
  display: flex;
  flex-direction: column;
}

.mycar-add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: orange;
  border-radius: 50%;
  color: white;
}

.mycar-item {
  box-shadow: 0px 0px 15px grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 970px;
  height: 700px;
  margin: 10px 0px 10px 50px;
}

.mycar-item-container {
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.mcic-one {
  display: flex;
  flex-direction: column;
}

.mcic-inner-one {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.mcic-img {
  width: 275px;
  height: 405px;
  border-radius: 10px;
  border: 1px solid;
  object-fit: scale-down;
}

.mcic-two {
  display: flex;
  flex-direction: column;
}

.mcic-decription-box {
  width: 350px;
  height: 100px;
  overflow: scroll;
}

.validator-star {
  color: red;
}

.imgButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.editbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imageinputs {
  height: 86px;
  overflow: scroll;
}

.requiredalert {
  color: red;
  font-weight: bold;
}

.editbuttonmycar {
  margin-left: 10px;
  margin-top: 10px;
}

.editbuttons {
  margin-left: 10px;
  margin-right: 10px;
}

.countryinfo {
  margin-right: 15px;
}

.mapbordercontainer {
  border: 4px solid lightgray;
}
