.nav_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid black;
  height: 75px;
  align-items: center;
}

.profile_button {
  border: 1px solid red;
  /* width: 29px;
  height: 25px; */
}

.user_info {
  position: relative;
  bottom: 5px;
  right: 120px;
}
